@page "/UsersList/{SetHashCode:int}"
@using Scan2Go.UI.BaseClasses
@inject StateContainer StateContainer

<div>
    <h2>@UserListPassingObject.EntityName List</h2>
    <DynamicBaseList PassingObject=@UserListPassingObject />
    @*  <MyComponent /> *@
    
</div>

@code {
    [Parameter] public int SetHashCode { get; set; }
    public PassingObject UserListPassingObject { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        UserListPassingObject = StateContainer.GetRoutingObjectParameter<PassingObject>(SetHashCode);
    }

    protected override async Task OnInitializedAsync()
    {

    }
}
