@using Scan2Go.Enums
@using Scan2Go.UI.BaseClasses

@inject NavigationManager NavigationManager
@inject StateContainer StateContainer;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Scan2Go.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                🏠 Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="(() => NavigateToEntityListPage(_customersPassingObject))">
                👤 Customers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="(() => NavigateToEntityListPage(_carsPassingObject))">
                🚗 Cars
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="(() => NavigateToEntityListPage(_rentsPassingObject))">
                💼 Rents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchmail">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch mail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="regulaface">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Regula
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <!-- Settings main menu without the arrow icon and collapse class -->
            <a class="nav-link" href="#" @onclick="ToggleSettingsSubMenu">
                ⚙️ Settings
            </a>
            <!-- Users submenu under Settings -->
            @if (_settingsSubMenuOpen)
            {
                <div class="px-3" id="settingsSubMenu">
                    <div class="nav-item">
                        <NavLink class="nav-link" @onclick="(() => NavigateToEntityListPage(_userPassingObject))">
                            👥 Users
                        </NavLink>

                    </div>
                    <!-- Add more submenu items here if needed -->
                </div>
            }
        </div>
    </nav>
</div>

@code {
    private bool _settingsSubMenuOpen;
    
    private static PassingObject _carsPassingObject = new() { Endpoint = Endpoints.GetCarsList, EntityName = "Car", EntityListPageName = "CarsList" };
    private static PassingObject _customersPassingObject = new() { Endpoint = Endpoints.GetCustomersList, EntityName = "Customer", EntityListPageName = "CustomersList" };
    private static PassingObject _rentsPassingObject = new() { Endpoint = Endpoints.GetRentsList, EntityName = "Rent", EntityListPageName = "RentsList" };
    private static PassingObject _userPassingObject = new() { Endpoint = Endpoints.GetUsersList, EntityName = "User", EntityListPageName = "UsersList" };
    
    private void ToggleNavMenu()
    {
        _settingsSubMenuOpen = !_settingsSubMenuOpen;
    }

    private void ToggleSettingsSubMenu()
    {
        _settingsSubMenuOpen = !_settingsSubMenuOpen;
    }

    private void NavigateToEntityListPage(PassingObject passingObject)
    {
        StateContainer.AddRoutingObjectParameter(passingObject);

        NavigationManager.NavigateTo($"{passingObject.EntityListPageName}/{passingObject.GetHashCode()}");
    }
}
